body{
    background: #eab3b3;
    
}
#main{
    border: 1px solid rgb(32, 162, 121);
    background-color: rgb(29, 192, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 350px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 4px 4px 10px #065816;
}
button{
    padding: 10px;
    font-size: 22px;
    width: 100px;
    box-shadow: 4px 4px 5px rgb(29, 139, 102);

       
}
.main_btn{
    background-color:#b30909;
    border: 1px solid rgb(177, 122, 177);
    padding: 3px;
    border-radius: 5px;
    color: yellow;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 1px 2px 10px red;
    
}
.main_btn:hover{
    background-color:#b02d2d;
}
.center{
    margin: 0 auto;
}
#answer{
    background-color:#001BB7;
    border: 1px solid rgb(75, 109, 75);
    padding: 10px;
    border-radius: 5px;
    color: yellow;
}
#answer:hover{
    background-color: #0046FF;
}
#start{
     background-color:#b30909;
    border: 1px solid rgb(177, 122, 177);
    padding: 3px;
    border-radius: 5px;
    color: yellow;
}
#start:hover{
     background-color: #b43e27;
}
#next{
    background-color: #450693;
    border: 1px solid rgb(147, 73, 147);
    padding: 10px;
    border-radius: 5px;
    color: yellow;
    
}
#next:hover{
     background-color:#8C00FF;
}
input{padding: 6px;
border-radius: 6px;
font-size: 18px;}
.number{
    padding: 10px;
    text-align: center;
}
#keyboard{ display: grid;
      grid-template-columns: repeat(3, 130px);  /* ۴ ستون */
      grid-template-rows: repeat(4, 70px);     /* ۳ ردیف */
      
    padding: 0;
    place-items: center;
}
.btn{
    border-radius: 3px;
    border: 1px solid rgb(5, 159, 5);
    margin: 0;
}
.btn:hover{
    background: #d5f0db;
}
#name-input{
    margin-bottom: 15px; padding: 5px 20px;border: 2px solid green;
}
#name-input:focus{
    border: 2px solid rgb(213, 237, 56);
}
#index-div{
    display:flex;justify-content: space-around;width:100%;margin-top: 10px;
}